name: Java Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  run-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: clean-test
        run: mvn clean test
     
      - name: package
        run: mvn package

      - name: build-artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifact
          path: target/
